.container {

  background-color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
  border: dashed blue .1rem;
  gap: .5em;
  padding: .5em;
}

.grid-container > .grid-item {
  border: solid red .1rem;

}

.grid-container >.grid-item:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 150px;
}

a {
  width: 100%;
}

a > img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}